@charset "utf-8";

@import url(normalize.css);

* {margin: 0; padding: 0;}
ul, li {list-style: none;}
a {text-decoration: none; color: inherit;}
body {font: normal 16px/1.5em "Crimson Text", sans-serif; background-color: #000; color: #fff;}
